name: couldai_user_app
description: "A next-generation global AI Chat System."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.1
  google_fonts: ^6.1.0
  flutter_markdown: ^0.6.14
  intl: ^0.19.0
  uuid: ^4.3.3
  shared_preferences: ^2.2.2
  font_awesome_flutter: ^10.7.0
  flutter_animate: ^4.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
